html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.helloworld {
    background-color: orange;
    box-sizing: border-box;
    border: 2px solid rebeccapurple ;
    height: 30%;
    width: 30%;
    margin: auto auto;
    text-align: center;
    position: relative;
    top: 7px;
    left: -5px;
}

.index {
    height: 200px;
    width: 200px;
    border: 2px solid;
    position: absolute;

  }
  
  .box1 {
    background-color: red;
    /* position: relative; */
    z-index: 0;
    left: 0px;
    bottom: 0px;
  }
  
  .box2 {
    background-color: green;
    /* position: relative; */
    bottom: 10px;
    left: 10px;
    /* z-index: 1; */
  }
  
  .box3 {
    background-color: blue;
    /* position: relative; */
    bottom: 25px;
    left: 25px;
    /* z-index: 2; */
  }
